<nav class="top-bar" data-topbar>
    <ul class="title-area">

        <li class="name">
            <h1>
                <a href="#">
                    App Loopear
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">

        <ul class="right">
            <li class="divider"></li>
            <li><a href="#/">Home</a></li>
            <li class="divider"></li>
            <li><a href="#/" ng-click="logout()">Logout</a></li>
            <li class="divider"></li>
        </ul>
    </section>
</nav>






<div class="row">


    <div class="large-3 columns">
        <br>
        <div class="section-container tabs" data-section>
            <div id="userList">
                <h2>Usuarios</h2>
                <table>
                    <thead>
                    <th>
                        Username
                    </th>
                    <th colspan="2">
                        Opciones
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="usuario in usuarios">
                        <td><a class="btnShowInfo" ng-click="llenarInfo(usuario)">{{usuario.username | uppercase}}</a>
                        <td><a class="btnEditar" ng-click="llenarEditar(usuario)">Editar</a></td>
                        <td><a ng-click="borrar(usuario._id)">Borrar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="large-5 columns" id="divMedio">
        <div id="divInfo">
            <h2>Info</h2>
            <table id="infoTabla" width="100%">
                <tr>
                    <td>ID</td>
                    <td id="infoID"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td id="infoUsername"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td id="infoPassword"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td id="infoEmail"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td id="infoNombre"></td>
                </tr>
                <tr>
                    <td>Edad</td>
                    <td id="infoEdad"></td>
                </tr>
                <tr>
                    <td>Permisos</td>
                    <td id="infoPermisos"></td>
                </tr>
            </table>
        </div>
        <div id="divEditar">
            <h2>Editar usuario</h2>
            <input type="text" ng-model="editID" disabled>
            <input type="text" ng-model="editUsername" placeholder="Username">
            <input type="text" ng-model="editPassword" placeholder="Password">
            <input type="text" ng-model="editEmail" placeholder="Email">
            <input type="text" ng-model="editNombre" placeholder="Nombre">
            <input type="text" ng-model="editEdad" placeholder="Edad">
            <input type="text" ng-model="editPermisos" placeholder="Permisos">
            <button ng-click="guardarCambios()">Guardar cambios</button>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="section-container tabs" data-section>
            <div id="divAgregar">
                <h2>Agregar usuario</h2>
                <input type="text" ng-model="addUsername" placeholder="Username">
                <input type="text" ng-model="addPassword" placeholder="Password">
                <input type="text" ng-model="addEmail" placeholder="Email">
                <input type="text" ng-model="addNombre" placeholder="Nombre">
                <input type="text" ng-model="addEdad" placeholder="Edad">
                <input type="text" ng-model="addPermisos" placeholder="Permisos">
                <button ng-click="agregar()">Agregar usuario</button>
            </div>
        </div>
    </div>

</div>






<footer class="row">
    <div class="large-12 columns">
        <hr/>
    </div>
</footer>


<div class="reveal-modal" id="mapModal">
</div>
