<nav class="top-bar" data-topbar>
    <ul class="title-area">

        <li class="name">
            <h1>
                <a href="#">
                    App Loopear
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
    </section>
</nav>






<div class="row">


    <div class="large-9 columns">
        <br>
        <div class="section-container tabs" data-section>
            <div id="divLogin">
                <section class="section">
                    <h5 class="title"><a>Log In</a></h5>
                    <div class="content" data-slug="panel1">
                        <form ng-submit="login()">

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Username</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" placeholder="loopear" ng-model="logUsername" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Password</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="password" placeholder="*******" ng-model="logPassword" >
                                </div>
                            </div>

                            <button type="submit" class="radius button">Log In</button>

                            <button type="button" id="btnCrearCuenta" class="radius button">Crear una cuenta</button>

                        </form>

                    </div>
                </section>

            </div>

            <div id="divRegistro">
                <section class="section">
                    <h5 class="title"><a>Registrarse</a></h5>
                    <div class="content" data-slug="panel1">
                        <form ng-submit="registrar()">

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Username</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" id="yourName" placeholder="loopear" ng-model="username" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Password</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="password" placeholder="*******" ng-model="password" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Email</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" placeholder="usuario@loopear.com" ng-model="email" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Nombre</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" placeholder="Nombre completo" ng-model="nombre" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Edad</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" placeholder="Edad" ng-model="edad" >
                                </div>
                            </div>

                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <label class="inline">Permisos</label>
                                </div>
                                <div class="large-10 columns">
                                    <input type="text" placeholder="Admin" ng-model="permisos" >
                                </div>
                            </div>

                            <button type="submit" class="radius button">Registrar</button>

                            <button type="button" id="btnCancelar" class="radius button">Cancelar</button>

                        </form>

                    </div>

                </section>

            </div>
        </div>
    </div>







    <div class="large-3 columns">
    </div>

</div>






<footer class="row">
    <div class="large-12 columns">
        <hr/>

    </div>
</footer>


<div class="reveal-modal" id="mapModal">
</div>

<script>

    $('#btnCrearCuenta').click(function(){
        $('#divLogin').hide();
        $('#divRegistro').show();
    }) ;
    $('#btnCancelar').click(function(){
        $('#divRegistro').hide();
        $('#divLogin').show();
    });

</script>