<nav class="top-bar" data-topbar>
	<ul class="title-area">

		<li class="name">
			<h1>
				<a href="#">
					App Loopear
				</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
	</ul>

	<section class="top-bar-section">
	</section>
</nav>






<div class="row">


	<div class="large-9 columns">
		<br>
		<div class="section-container tabs" data-section>
			<h1>Home</h1>
			<p>
				<a href="#/admin">Administracion</a>
			</p>
		</div>
	</div>







	<div class="large-3 columns">
	</div>

</div>






<footer class="row">
	<div class="large-12 columns">
		<hr/>

	</div>
</footer>


<div class="reveal-modal" id="mapModal">
</div>

<script>

	$('#btnCrearCuenta').click(function(){
		$('#divLogin').hide();
		$('#divRegistro').show();
	}) ;
	$('#btnCancelar').click(function(){
		$('#divRegistro').hide();
		$('#divLogin').show();
	});

</script>