#divRegistro{
    display: none;
}
#divRegistro a, #divLogin a{
    font-size: 24px;
    font-weight: bold;
}

#divEditar{
    display: none;
}
#divMedio, #divAgregar{
    padding-top: 1.5rem;
}
#infoTabla td:first-child {
    font-weight: bold;
}